input:focus, textarea:focus {
  border-color: royalblue;
  outline: none;
}

input:invalid, select:invalid, textarea:invalid {
  border-color: red;
}

input:valid, select:valid, textarea:valid {
  border-color: green;
}

button:hover {
  background-color: rgb(243, 161, 243);
}

.radio-group input[type="radio"]:checked {
  border-color: black;
  color: green;background-color:green;
  box-shadow: 0 0 5px gray;
  accent-color: green;
}

body {
  background-color: rgb(147, 195, 147);
  color: black;
}

form {
  font-family: arial, sans-serif;
}

.radio-group input[type="radio"]:checked + label{
  color: green;
}

input:first-of-type {
    border-radius: 5px;
}

.radio-group label {
  cursor: pointer;
  padding: 10px;
}

.radio-group {
  border-radius: 10px;
  padding: 10px;
  margin: 5px 0;
  border: 1px;
  text-align: center;
}

body {
  border-radius: 5px;
  text-align: center;
}

input, select, textarea {
 padding: 10px;
 margin: 5px 0;
 border: 1px solid #ccc;
 border-radius: 5px;
}

button {
  padding: 10px;
  margin: 5px 0;
  border: 1px;
  border-radius:
  5px;
  background-color: green;
}

head {
  text-align: center;
}
